@switch (gameStateService.currentView()) {
    @case ('lobby') {
        <app-lobby-screen></app-lobby-screen>
    }
    @case ('role-reveal') {
        <app-role-reveal-screen></app-role-reveal-screen>
    }
    @case ('night') {
        <app-night-action-panel></app-night-action-panel>
    }
    @case ('day-discussion') {
        <app-day-discussion-screen></app-day-discussion-screen>
    }
    @case ('voting') {
        <app-voting-screen></app-voting-screen>
    }
    @case ('hunter-revenge') {
        <app-hunter-revenge-modal></app-hunter-revenge-modal>
    }
    @case ('game-over') {
        <app-game-over-screen></app-game-over-screen>
    }
}
